<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="main">

      <div class="player">
        <button type="button" onclick="gpm.onPlay()">Play</button>
        <button type="button" onclick="gpm.onNext()">Next</button>
        <button type="button" onclick="gpm.onStop()">Stop</button>
      </div>

    </div>

    <script src="/javascripts/app.js" charset="utf-8"></script>
  </body>
</html>
