<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="main">

      <div class="player">
        <button type="button" onclick="gpm.onPlay()">Play</button>
        <button type="button" onclick="gpm.onNext()">Next</button>
        <button type="button" onclick="gpm.onStop()">Stop</button>
      </div>

    </div>

    <script type="text/javascript" src="/javascripts/app.js"></script>
  </body>
</html>
