.navbar-brand {
  padding: 16px 15px;
}

.navbar-brand>img {
  display: inline-block;
  height: 32px;
}

.player .btn {
  margin-right: 10px;
}

.music-info .panel-body {
  min-height: 79px;
}

.btn .glyphicon {
  margin-right: 5px;
}